
    <div class="container" style="padding-top:60px">
      <div class="row">
        
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hi I am Ramanpreet Singh.</p>
          <p>Welcome to my blog in this we are goin to discuss about the web assignment.</p>
          <p>This assignment will help me to understand about web more.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Be sure to connect!</p>
        </aside>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    